@charset "utf-8";

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow h1 {
    font-size: 2em;
}

/* Large desktop */
@media (min-width: 1200px) {
    .container-narrow h1 {
        font-size: 2em;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .container-narrow h1 {
        font-size: 2em;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .container-narrow h1 {
        font-size: 2em;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .container-narrow h1 {
        font-size: 23px;
    }
}

.container-narrow h1 img {
    vertical-align: text-top;
}

.container-narrow .masthead ul.nav {
    margin-bottom: 0;
}

.container-narrow>hr {
    margin: 5px 0;
    clear: both;
}

#signinArea {
    margin-top: 5px;
    margin-left: 0.5em;
}

#profilePhoto {
    max-height: 25px;
}

#___signin_0 {
    vertical-align: middle !important;
}

.required {
    color: red;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h1, h2, h3 {
    line-height: 1.5;
}

#loginUserDisplayName {
    display: inline-block;
    height: 25px;
}

#loginUserDisplayName:focus {
    background-color: #fcf8e3;
}

.common-alert {
    display: none;
}
