@styles = {
  <link href="@routes.Assets.at("stylesheets/index.css")" rel="stylesheet">
}

@script = {
  <script src="@routes.Assets.at("javascripts/index.js")"></script>
}

@layout("Social BookShelf")(styles)(script) {
<div class="jumbotron">
    <h1>本棚をシェアしよう。</h1>

    <p class="lead">オフィスで、仲間内で。本の貸し借りを管理するアプリです。<br/>あなたの欲しい本は、誰かがすでに持っているかも。</p>
    <a class="btn btn-large btn-success" href="book_shelf/register">本棚をつくる</a>
</div>

<hr>

<div class="row-fluid updateInfos">
    <div class="span6">
        <h2>最近レンタルされた本<img src="@routes.Assets.at("images/book-15-48.png")" /></h2>
        <div class="rentalInfo">
            <img src="" class="book_image" />
            <h4 class="book_title"></h4>
            <p class="rental_user"></p>
            <p class="update_date"></p>
        </div>
    </div>
    <div class="span6">
        <h2>最近更新された本棚<img src="@routes.Assets.at("images/book-12-48.png")" /></h2>
        <div class="bookshelfInfo">
            <h4 class="name"></h4>
            <p class="description"></p>
            <p class="update_date"></p>
        </div>
    </div>
</div>
}
