@styles = {
  <link href="@routes.Assets.at("stylesheets/index.css")" rel="stylesheet">
}

@script = {
  <script src="@routes.Assets.at("javascripts/index.js")"></script>
}

@layout("Social BookShelf")(styles)(script) {
<div class="jumbotron">
    <h1>本棚をシェアしよう。</h1>

    <p class="lead">オフィスで、仲間内で。本の貸し借りを管理するアプリです。<br/>あなたの欲しい本は、誰かがすでに持っているかも。</p>
    <a class="btn btn-large btn-success" href="book_shelf/register">本棚をつくる</a>
</div>

<hr>

<div class="row-fluid bookshelfInfos">
    <div class="span6">
        <h2>最近レンタルされた本<img src="@routes.Assets.at("images/book-15-48.png")" /></h2>
        <div class="rentalInfo">
            <img src="@routes.Assets.at("images/51f46ZHorvL._SS500_.jpg")" width="200" />
            <h4 class="book_title"><a href="#">JavaScript 第6版</a></h4>
            <p class="rental_user">レンタルしたユーザ名</p>
            <p class="update_date">2013/03/09 15:35</p>
        </div>
        <div class="rentalInfo">
            <img src="@routes.Assets.at("images/517mEqwfBqL._SL500_AA300_.jpg")" width="200" />
            <h4 class="book_title"><a href="#">JavaScript徹底攻略 (WEB+DB PRESS plus)</a></h4>
            <p class="rental_user">レンタルしたユーザ名</p>
            <p class="update_date">2013/03/09 10:34</p>
        </div>
        <div class="rentalInfo">
            <img src="@routes.Assets.at("images/51rN-3XIrhL._SL500_AA300_.jpg")" width="200" />
            <h4 class="book_title"><a href="#">入門 モダンJavaScript</a></h4>
            <p class="rental_user">レンタルしたユーザ名</p>
            <p class="update_date">2013/03/09 10:34</p>
        </div>
        <div class="rentalInfo">
            <img src="@routes.Assets.at("images/51LVe-ASVdL._SL500_AA300_.jpg")" width="200" />
            <h4 class="book_title"><a href="#">メンテナブルJavaScript ―読みやすく保守しやすいJavaScriptコードのための作法</a></h4>
            <p class="rental_user">レンタルしたユーザ名</p>
            <p class="update_date">2013/03/09 10:34</p>
        </div>
        <div class="rentalInfo">
            <img src="@routes.Assets.at("images/51DE1p8lBL._SL500_AA300_.jpg")" width="200" />
            <h4 class="book_title"><a href="#">Effective JavaScript JavaScriptを使うときに知っておきたい68の冴えたやり方</a></h4>
            <p class="rental_user">レンタルしたユーザ名</p>
            <p class="update_date">2013/03/09 10:34</p>
        </div>
    </div>
    <div class="span6">
        <h2>最近更新された本棚<img src="@routes.Assets.at("images/book-12-48.png")" /></h2>
        <div class="bookshelfInfo">
            <h4 class="name"></h4>
            <p class="description"></p>
            <p class="update_date"></p>
        </div>
    </div>
</div>
}
