@styles = {
}

@script = {
  <script src="@routes.Assets.at("javascripts/registerBook.js")"></script>
}

@layout("書籍を登録する - Social BookShelf")(styles)(script) {
    <ul class="breadcrumb">
        <li><a href="/">トップ</a> <span class="divider">/</span> <a href="/book_shelf/detail/" id="bookshelfAnchorLink">本棚詳細</a> <span class="divider">/</span> </li>
        <li class="active">書籍登録</li>
    </ul>
    <h2>本棚に追加する書籍を検索する</h2>
    <form id="searchBookForm" class="form-horizontal">
        <input type="text" class="input-xlarge search-query" id="searchBookKeyword" placeholder="本のタイトル、作家名、キーワードなど" required maxlength="50" />
        <button type="submit" class="btn" id="searchBookButton">検索</button>
    </form>
    <script type="text/template" id="bookInfoTemplate">
        <div class="bookInfo">
            <h3 class="book_title"><%= title %></h3>
            <img src="<%= medium_image %>" class="book_image img-polaroid" />
            <p class="book_author"><%= author %></p>
            <p class="published_date"><%= publication_date %></p>
            <button class="btn registerButton" type="button">この本を追加する</button>
        </div>
    </script>
    <div id="searchResultBookList"></div>
}
