@styles = {
}

@script = {
  <script src="@routes.Assets.at("javascripts/registerBook.js")"></script>
}

@layout("書籍を登録する - Social BookShelf")(styles)(script) {
    <ul class="breadcrumb">
        <li><a href="/">トップ</a> <span class="divider">/</span> <a href="/book_shelf/detail/">本棚詳細</a> <span class="divider">/</span> </li>
        <li class="active">書籍を登録する</li>
    </ul>
    <h2>書籍を登録する</h2>
    <form id="registerBookForm" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="shelfName">書籍名<span class="required">*</span></label>
            <div class="controls">
                <input type="text" id="shelfName" class="input-xlarge" name="book_name" required maxlength="50" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="shelfName">著者名<span class="required">*</span></label>
            <div class="controls">
                <input type="text" id="shelfName" class="input-xlarge" name="book_author" required maxlength="50" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="shelfName">書籍の画像（大）</label>
            <div class="controls">
                <input type="text" id="shelfName" class="input-xlarge" name="large_image_url" maxlength="100" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="shelfName">書籍の画像（中）</label>
            <div class="controls">
                <input type="text" id="shelfName" class="input-xlarge" name="medium_image_url" maxlength="100" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="shelfName">書籍の画像（小）</label>
            <div class="controls">
                <input type="text" id="shelfName" class="input-xlarge" name="small_image_url" maxlength="100" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="shelfName">ISBN</label>
            <div class="controls">
                <input type="text" id="shelfName" class="input-xlarge" name="book_isbn" maxlength="50" />
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
              <button type="submit" id="makeBookButton" class="btn">作成</button>
            </div>
        </div>
    </form>
    </div>
}
