@styles = {
}

@script = {
    <script src="@routes.Assets.at("javascripts/showBookShelf.js")"></script>
}

@layout("本棚詳細 - Social BookShelf")(styles)(script) {
    <ul class="breadcrumb">
        <li><a href="/">トップ</a> <span class="divider">/</span></li>
        <li class="active">本棚詳細</li>
    </ul>
    <div id="bookShelfInfoContents">
        <div class="bookShelfInfo">
            <h2 class="shelf_name"></h2>
            <p class="shelf_description"></p>
            <div class="bookList">
                <div class="bookInfoArea">
                    <img src="" class="book_image" />
                    <h3 class="book_title"></h3>
                    <p class="book_author"></p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn" id="registerBookButton" type="button"><i class="icon-book"></i> 書籍を登録する</button>
}
