@styles = {
  <link href="@routes.Assets.at("stylesheets/index.css")" rel="stylesheet">
}

@script = {
  <script src="@routes.Assets.at("javascripts/index.js")"></script>
  <script src="@routes.Assets.at("javascripts/lib/zepto.js")"></script>
  <script type="text/javascript">
    $(function ($) {
      var video = $("video").get(0);
      if (navigator.webkitGetUserMedia) {
        navigator.webkitGetUserMedia({video: true}, successCallback, function(error) {
            window.alert("カメラが使えません");
        });
        function successCallback(stream) {
          $('#barcodeImage').val(webkitURL.createObjectURL(stream));
          $('#form').submit();
        }
      }
    });
  </script>
}

@layout("Social BookShelf")(styles)(script) {
<div class="jumbotron">
    <h1>本棚をシェアしよう。</h1>

    <p class="lead">オフィスで、仲間内で。本の貸し借りを管理するアプリです。<br/>あなたの欲しい本は、誰かがすでに持っているかも。</p>
    <a class="btn btn-large btn-success" href="book_shelf/register">本棚をつくる</a>
    <form id="form" method="POST" action="api/book_shelf/amazon_barcode" enctype="multipart/form-data">
      <video autoplay />
      <input type="file" id="barcodeImage" style="display:none" />
    </form>
</div>
}
