@styles = {
}

@script = {
  <script src="@routes.Assets.at("javascripts/test.js")"></script>
}

@layout("テストページ - Social BookShelf")(styles)(script) {
    <h2>カメラからバーコードを読み取る</h2>
    <section id="splash">
        <p id="errorMessage"></p>
    </section>
    <h3>スマートデバイス向け</h3>
    <input type="file" id="selectPhoto" accept="image/*;capture=camera" />
    <h3>PC向け</h3>
    <section id="app" hidden>
        <p>
            <button type="button" id="snapshotbutton" class="btn"><i class="icon-camera"></i> 写真を撮る</button>
            <button type="button" id="searchBookFromBarcode" class="btn"><i class="icon-barcode"></i> 読み取る</button>
        </p>
        <p>
            <video id="monitor" autoplay width="320" height="240"></video>
            <canvas id="photo"></canvas>
        </p>
    </section>
}
